* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.board-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  margin: 5px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.box:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}

.winner p {
  font-size: xx-large;
}

.winner button,
.reset-btn {
  width: 100px;
  padding: 5px;
  margin: 20px;
  background-color: blue;
  border-radius: 10px;
  color: #fff;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in;
}

.winner button:hover,
.reset-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.curr-turn {
  color: red;
}